* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --cor-fundo: #F9E4C8;
  --cor-destaque: #FFD447;
  --cor-base: #8B5E3C;
  --cor-acento: #C94A3F;
  --cor-contraste: #2C3E50;
  --cor-texto-claro: #FFFFFF;
}


body{
    margin: 10px;
    background-color: var(--cor-fundo);
}

nav.navbar {
    background-color: var(--cor-base);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}