* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* 🎨 Paleta Principal */
  --color-black: #000000; /* Texto sobre fundo claro */
  --color-burnt-orange: #ab5a27; /* Destaques, botões, links */
  --color-tan: #ceaf95; /* Texto principal sobre fundo escuro */
  --color-coffee: #684537; /* Elementos secundários, bordas */
  --color-smoky-black: #171210; /* Fundo principal */

  /*
Fundo principal: --color-smoky-black: #171210; Ideal para fundo escuro elegante e neutro
Texto principal: --color-tan: #CEAF95;    Ótimo contraste com fundo escuro, leitura suave  

Destaques e botões: --color-burnt-orange: #AB5A27; Botões, links, ícones de ação – chama atenção
Elementos secundários: --color-coffee: #684537; Bordas, sombras, detalhes sutis
Texto sobre fundo claro: --color-black: #000000; Para textos sobre fundo claro ou elementos neutros


  */

  /* 🌈 Gradientes */
  --gradient-top: linear-gradient(
    0deg,
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
  --gradient-right: linear-gradient(
    90deg,
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
  --gradient-bottom: linear-gradient(
    180deg,
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
  --gradient-left: linear-gradient(
    270deg,
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
  --gradient-top-right: linear-gradient(
    45deg,
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
  --gradient-top-left: linear-gradient(
    225deg,
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
  --gradient-radial: radial-gradient(
    var(--color-black),
    var(--color-burnt-orange),
    var(--color-tan),
    var(--color-coffee),
    var(--color-smoky-black)
  );
}
html {
  scroll-behavior: smooth; /* Adiciona rolagem suave para âncoras */
}

body {
  color: var(--color-smoky-black);
  font-family: Arial, sans-serif;
  background-color: var(--color-smoky-black);

}

main {
  /* padding-top: 120px; */
  color: var(--color-tan);
  
}
section {
  /* border-bottom: 1px solid var(--cor-contraste); */
  min-height: 100vh;
  padding: 5px;
  scroll-margin-top: 120px;
}
header {
  height: 120px;
}

.navbar{
  background-color: var(--color-burnt-orange) ;
}
.navbar img{
  height: 90px;
}

.navbar .nav-link{
  color: var(--color-tan);
}

.text-center {
  color: var(--color-burnt-orange);
}
.btn{
  background-color: var(--color-burnt-orange);
}